<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Paisley Laurenzio Portfolio</title>
        <link rel="stylesheet" href="css/grid.css">
        <link rel="stylesheet" href="css/type.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body class="project-background">
    <section class="parallax" role="banner">
        <header role="nav" class="nav" id="nav">
            <ul>
                <li><a class="menue" href="{{site.baseurl}}/index.html">Back To Portfolio</a></li>
            </ul>    
        </header> 
    </section>
    <section class="module content">
        <main role="main">
            
            {{content}}

            <div class="centered island island center button">
                <a href="index.html" class="button-home">Back</a>
            </div>
        </main>
    <footer role="contentinfo"> 
    </footer>
    </section>
    </body>
</html>

